<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order Posted</title>
</head>
<body>
<form>
    Your order has been created with id <p th:text="${createdOrder.id}"></p>
</form>
</body>
</html>