<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Order</title>
</head>
<body>
    <form action="#" th:action="@{/order}" th:object="${order}" method="post">
        <p>Address: <input type="text" th:field="*{address}" /></p>

        <div th:each="article : ${articles}">
            <div th:text="${article.name}">Onions</div>
            <input th:name="${article.id}" type="number" value="0"/>
        </div>
        <p>
            <input type="submit" value="Submit" />
            <input type="reset" value="Reset" />
        </p>
    </form>
</body>
</html>